<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="softwaretest" parallel="methods" thread-count="1">
  <test name="Test">
    <classes>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0009_CP_CheckOutPg_Verify_EnterEmail_Id_Check_AddAnotherIdentificationsLinkEnabled"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0012_CP_CheckOutPg_Verify_EnterEmail_MultipleLicensePlate_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0013_CP_MyParkersPg_Verify_EditFamily_ParkerToFriends_AndFilterByOnlyFriends"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0011_CP_LoginPg_Verify_ControllNavigates_To_Google_Login_Page_From_Login_Page"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0004_CP_ShoppingCartPg_Verify_EmptyShoppingCart_MsgValidation"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0003_CP_MyParkersPg_AddFamily_Parker_AndVerifySuccessMessage"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0004_CP_CheckOutPg_Verify_Labels_InCheckoutPage_BookingSummaryDetails_updateLater"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0003_CP_PspPage_PaymentExpressPaymentMethod"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0018_CP_identifications_Verify_DeleteIdentification_Success_SkidataKeycard"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0015_CP_identifications_Verify_DeleteIdentification_Success_MifareCard"/>
      <class name="com.skidata.ssp.portal.dashboard.TC_0001_CP_DashboardPg_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0011_CP_CheckOutPg_Verify_EnterEmail_MultipleDeisterTag_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.loginandsecurity.TC_0004_CP_LoginAndSecurity_Verify_PhoneUpdate_ProfileUpdateSuccessMsg"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0014_CP_MyParkersPg_Verify_EditFriends_ParkerToFamily_AndFilterByOnlyFamily"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0036_CP_CheckOutPg_Verify_EnterEmail_PrivatePersonCompleteDetails_Id_ClickPay_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0014_CP_CheckOutPg_Verify_EnterEmail_Ids_Combi_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0018_CP_ProductsPg_Verify_MapView_ListView_GridView_DefaultSortBy_Labels_ForSub"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0002_CP_HomePg_Verify_LogoDisplayed"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0003_CP_identifications_Verify_AddIdentification_Success_MifareCard"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0005_CP_MyParkersPg_Verify_AddFamily_Parker_AndFilterByFamilyAndFriends"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0010_CP_ProductsPg_Verify_FromDate_Displayed_AsSelected_InHomePage_Sub"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0005_CP_identifications_Verify_AddIdentification_Success_Skidata"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0012_CP_ProductsPg_Verify_Links_Images_Displayed_In_Footer_Sub"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0023_CP_HomePg_Select_StartEndDate_ValidateItsDisplayedCorrectly_Res"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0013_CP_identifications_Verify_EditIdentification_Success_NFC"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0010_CP_AddressPage_Delete_The_Address"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0022_CP_HomePg_Verify_Links_Images_Displayed_In_Footer"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0003_CP_HomePg_Verify_HeaderIcons_Home_Cart_Login_Res"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0010_CP_Verify_Successfull_Message_OnValid_SignUP"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0008_CP_PspPage_PaymentExpress_RegisteredUser"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0005_CP_HomePg_Verify_SubHeaderTitle_Content"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0007_CP_ConfirmationPg_Verify_DownloadBookingConfirmationLink"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0001_CP_LoginPg_Verify_LoginDialogIsDisplayed_WhenClickedOnLogin"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0018_CP_CheckOutPg_Verify_EnterEmail_MiFareCard_ClickPay_BookingFail_SameID_Res_updatelater"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0005_CP_ConfirmationPg_Verify_BookingMessageContent_BookingId_ZoomQR_displayed"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0006_CP_SignUpPg_Verify_Social_Media_Link_Like_FB_Google"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0007_CP_MyParkersPg_Verify_AddFamily_Parker_AndDeleteParker"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0008_CP_ProductsPg_Verify_SearchLocBar_PlaceholderTxt_And_Marker_Displayed_Sub"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0002_CP_AddressPage_Verify_LabelAndHeader"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0027_CP_CheckOutPg_Verify_MifareCard_ClickSubscribe_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0005_CP_ProductsPg_Verify_HourlyMonthly_IconLabels_Displayed_Res"/>
      <class name="com.skidata.ssp.portal.loginandsecurity.TC_0005_CP_LoginAndSecurity_Verify_PasswordUpdate_PasswordUpdateSuccessMsg"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0006_CP_AddressPage_Add_PrivatePerson_Short_Address"/>
      <class name="com.skidata.ssp.portal.loginandsecurity.TC_0001_CP_LoginAndSecurity_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0017_CP_identifications_Verify_DeleteIdentification_Success_Skidata"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0029_CP_CheckOutPg_Verify_DeisterTag_ClickSubscribe_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0011_CP_ProductsPg_Verify_Links_Images_Displayed_In_Footer_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0007_CP_ProductsPg_Verify_SearchLocBar_PlaceholderTxt_And_Marker_Displayed_Res"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0002_CP_LoginPg_Verify_InEmptyCart_LoginPgDisp_WhenClickedOnLogin"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0008_CP_SignUpPg_Verify_ControllNavigates_To_Google_Login_Page_From_SignUp_Page"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0006_CP_PspPage_FailedPayment_Wirecard"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0023_CP_ProductsPg_Verify_CheckoutPageLaunch_WhenCheckoutBtn_Clicked_InCartPopUp"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0009_CP_SignUpPg_Verify_Controll_Navigates_To_LoginPage_By_selecting_CancelLink_In_SignUP_Page"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0008_CP_CheckOutPg_Verify_EnterEmail_MiFareCard_AndClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0032_CP_CheckOutPg_Verify_EnterEmail_PrivatePersonCompleteDetails_Id_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0001_CP_CheckOutPg_Verify_LogoIsDisplayed"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0008_CP_ConfirmationPg_Verify_DownloadBookingConfirmation_InFolder_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0002_CP_ProductsPg_Verify_LogoIsDisplayed"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0004_CP_AddressPage_Verify_Available_Address_Fields_In_PrivatePerson_Form"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0007_CP_ShoppingCartPg_Verify_DeleteIcon_DisplayedForAllAddedProds"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0005_CP_ShoppingCartPg_Verify_Items_Displayed_InCartPg_MatchesWithProdsAdded"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0041_CP_CheckOutPg_Verify_PrivatePersonCompleteDetails_Saved_InProfile_AddedDuringCheckout_Subscription"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0009_CP_PspPage_WirecardPaymentMethod_RegisteredUser"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0017_CP_CheckOutPg_Verify_EnterEmail_LicensePlate_ClickPay_BookingFail_SameID_Res_updatelater"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0019_CP_CheckOutPg_Verify_EnterEmail_AddIds_DeleteIds_Fail_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0013_CP_CheckOutPg_Verify_EnterEmail_MultipleMiFareCard_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0036_CP_HomePg_Verify_Warning_Message_OnClick_SearchButton_without_Location_Subs"/>
      <class name="com.skidata.ssp.portal.dashboard.TC_0002_CP_DashboardPg_Verify_Labels_InDashboardPage"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0015_CP_ShoppingCartPg_Verify_MessageContent_DuplicateProductAddedInCart"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0019_CP_HomePg_Verify_PreviousMonth_NotDisp_PrevArrowClick_In_From_To_Calendar_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0038_CP_CheckOutPg_Verify_EnterEmail_CompanyCompleteDetails_Id_ClickPay_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0005_CP_SignUpPg_Verify_ConfirmPassword_Error_Message"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0004_CP_LoginPg_Verify_ProfileLinkDisplayedAfterLogin"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0007_CP_HomePg_Verify_ResAndSub_IconLabels_Displayed"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0010_CP_ConfirmationPg_Verify_ClickingOnBookingId_NavigatesTo_ReservationDetails_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0008_CP_HomePg_Verify_SearchLocationBar_Placeholder_MarkerIcon_Displayed"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0030_CP_HomePg_SelectAddress_SelectDisabledDates_ClickSearchYourParking_Subs"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0006_CP_HomePg_Verify_Banner_Displayed"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0003_CP_ResetPasswordPg_Verify_ResetPassword_SubHeading"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0001_CP_AddressPage_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0002_CP_MyParkersPg_Verify_LabelsAndLink"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0001_CP_ConfirmationPg_Verify_LogoIsDisplayed"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0008_CP_LoginPg_Verify_EmptyCartMessageForLoggedInUser"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0012_CP_ShoppingCartPg_Verify_FromAndTo_DisplayedDateTime_AsSelectedForProduct"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0014_CP_ProductsPg_Verify_ProdsDisp_DefaultListView_SpecificLocation_Sub"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0002_CP_ConfirmationPg_Verify_ContinueShoppingLink"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0012_CP_identifications_Verify_EditIdentification_Success_SkidataKeycard"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0025_CP_ProductsPg_Verify_SortByOptionValues_Sub"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0024_CP_HomePg_Select_StartDate_ValidateItsDisplayedCorrectly_Sub"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0011_CP_ConfirmationPg_Verify_BookingID_Status_Backoffice_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0032_CP_HomePg_Verify_Warning_Message_OnClick_SearchButton_without_FromTodates_Resv"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0007_CP_SignUpPg_Verify_ControllNavigates_To_FB_Login_Page_From_SignUp_Page"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0040_CP_CheckOutPg_Verify_CompanyCompleteDetails_Saved_InProfile_AddedDuringCheckout_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0006_CP_CheckOutPg_Verify_EnterEmail_DeisterTag_AndClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0019_CP_ProductsPg_Verify_AddProd_ListView_And_Verify_Count_InCartToolTip_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0033_CP_CheckOutPg_Verify_EnterEmail_CompanyDetails_Id_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0009_CP_Add_Company_Full_address"/>
      <class name="com.skidata.ssp.portal.dashboard.TC_0003_CP_DashboardPg_Verify_Click_Seeall_UpcomingBookings_NavigateHourlyParking"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0016_CP_HomePg_Verify_MonthYear_ValueCorrect_In_From_To_Calendar_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0025_CP_CheckOutPg_Verify_EnterEmail_MiFareCard_VerifyErrorMessage_InvalidId"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0016_CP_ProductsPg_Verify_ProductsDisplayed_GridView_SpecificLocation_Sub"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0006_CP_ConfirmationPg_Verify_BookingConfirmation_EmailMessage_WalletImages"/>
      <class name="com.skidata.ssp.portal.dashboard.TC_0006_CP_DashboardPg_Verify_Click_Seeall_Identifications_NavigateIdentificationsPage"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0035_CP_CheckOutPg_Verify_EnterEmail_PrivatePersonDetails_Id_ClickPay_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0021_CP_ProductsPg_Verify_AddSingleProduct_ListView_Verify_Elements_InCartPopUp"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0006_CP_ShoppingCartPg_Verify_FromAndTo_Labels_DispForAllAddedProds"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0004_CP_ConfirmationPg_Verify_QRCodeGenerated"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0002_CP_CheckOutPg_Verify_ContinueShoppingLink"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0026_CP_HomePg_Select_Address_StartEndDate_ClickSearchYourParking_VerifyProdListPageTitle_Sub"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0004_CP_HomePg_Verify_HeaderTitle_PreBookYourParking"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0043_CP_CheckOutPg_Verify_ReservationSuccess_AfterClickingOnIamNottheParker"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0007_CP_LoginPg_Verify_LoginSuccess_LoginClickedAndDetailsEntered_InCheckoutPage"/>
      <class name="com.skidata.ssp.portal.logout.TC_0001_CP_Verify_Logout_Success"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0009_CP_MyParkersPg_Verify_AddFriend_Parker_AndFilterByOnlyFriend"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0003_CP_ProductsPg_Verify_HeaderIcon_Home_Cart_Login_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0014_CP_HomePg_Verify_SearchYourParkingButton_Displayed_ResAndSub"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0034_CP_HomePg_Verify_Warning_Message_OnClick_SearchButton_without_FromTodates_Subs"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0020_CP_HomePg_Verify_PreviousMonth_NotDisp_PrevArrowClicked_In_From_To_Calendar_Sub"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0004_CP_SignUpPg_Verify_MinimumPassword_Criteria_Message_For_Password"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0037_CP_CheckOutPg_Verify_EnterEmail_CompanyDetails_Id_ClickPay_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0009_CP_LoginPg_Verify_LoginPopUpDisplayed_WhenClickedOnSubscribe"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0010_CP_LoginPg_Verify_ControllNavigates_To_FB_Login_Page_From_Login_Page"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0015_CP_CheckOutPg_Verify_EnterEmail_SkidataKeycard_ClickPay_BookingFail_SameID_Res_updatelater"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0001_CP_MyParkersPg_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0004_CP_MyParkersPg_Verify_FilterDefaultValue_AsFamilyAndFriends"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0010_CP_ShoppingCartPg_Verify_NavigateToProductListPg_WhenClickedOnContinueShopping"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0010_CP_HomePg_Verify_HeaderIcons_Home_Login_Disp_And_Cart_NotDisplayed_Sub"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0003_CP_ConfirmationPg_Verify_ThankYouMsg_Res_Success"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0001_CP_HomePg_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0005_CP_PspPage_FailedPayment_Ingenico"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0025_CP_HomePg_Select_Address_StartEndDate_ClickSearchYourParking_VerifyProdListPageTitle_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0031_CP_CheckOutPg_Verify_EnterEmail_PrivatePersonDetails_Id_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.loginandsecurity.TC_0003_CP_LoginAndSecurity_Verify_NameUpdate_ProfileUpdateSuccessMsg"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0007_CP_ResetPasswordPg_Verify_Controll_navigates_To_LoginPage_after_selecting_BackToLogin_Link"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0017_CP_HomePg_Verify_MonthYear_ValueCorrect_In_From_To_Calendar_Sub"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0003_CP_CheckOutPg_Verify_Labels_InCheckoutPage_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0029_CP_HomePg_SelectAddress_SelectDisabledDates_ClickSearchYourParking_Resv"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0012_CP_HomePg_Verify_DefaultFromToDate_Is_Blank_Or_NotSelected_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0015_CP_ProductsPg_Verify_ProdsDisp_GridView_SpecificLocation_Res"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0003_CP_LoginPg_Verify_NavigateToLoginPg_WhenClickedOnLogin_InCheckOutpg"/>
      <class name="com.skidata.ssp.portal.dashboard.TC_0004_CP_DashboardPg_Verify_Click_Seeall_YourSubscriptions_NavigateMonthlyParking"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0007_CP_CheckOutPg_Verify_EnterEmail_LicensePlate_AndClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0017_CP_ProductsPg_Verify_MapView_ListView_GridView_DefaultSortBy_Labels_Res"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0011_CP_MyParkersPg_AddFamily_Parker_AndClickCancel_ChangesNotSaved"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0023_CP_CheckOutPg_Verify_EnterEmail_DeisterTag_VerifyErrorMessage_InvalidId"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0016_CP_CheckOutPg_Verify_EnterEmail_DeisterTag_ClickPay_BookingFail_SameID_Res_updatelater"/>
      <class name="com.skidata.ssp.portal.dashboard.TC_0005_CP_DashboardPg_Verify_Click_Seeall_Myparkers_NavigateMyParkersPage"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0022_CP_CheckOutPg_Verify_EnterEmail_SkidataKeycard_VerifyErrorMessage_InvalidId"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0002_CP_ShoppingCartPg_Verify_LogoIsDisplayed"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0001_CP_PspPage_WirecardPaymentMethod"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0021_CP_CheckOutPg_Verify_CartGetsEmpty_OnBooking_Res"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0022_CP_ProductsPg_Verify_CartPageLaunch_WhenSeeCart_Clicked_InCartPopUp"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0009_CP_HomePg_Verify_FromAndToLabels_Displayed_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0013_CP_HomePg_Verify_DefaultFromDate_Blank_AndToDateLabel_NotDisp_ForSub"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0010_CP_MyParkersPg_Verify_AddFriends_Parker_AndDeleteParker"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0004_CP_identifications_Verify_AddIdentification_Success_DeisterTag"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0008_CP_AddressPage_Add_Company_Short_Address"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0016_CP_identifications_Verify_DeleteIdentification_Success_DeisterTag"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0042_CP_CheckOutPg_Verify_CompanyCompleteDetails_Saved_InProfile_AddedDuringCheckout_Subscription"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0001_CP_SignUpPg_Verify_ControlNavigatesToSignUpPageFromLoginPage"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0028_CP_CheckOutPg_Verify_SkidataKeycard_ClickSubscribe_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0004_CP_PspPage_FailedPayment_PaymentExpress"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0013_CP_ShoppingCartPg_Verify_Links_Images_Displayed_In_Footer_Res"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0014_CP_identifications_Verify_EditIdentification_Success_LicensePlate"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0007_CP_PspPage_Ingenico_RegisteredUser"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0009_CP_ProductsPg_Verify_FromDate_ToDate_Displayed_AsSelected_InHomePg_Res"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0005_CP_ResetPAsswordPg_Verify_Email_Validation_After_Wrong_Email_Update"/>
      <class name="com.skidata.ssp.portal.paymentmethods.TC_0002_CP_PspPage_IngenicoPaymentMethod"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0012_CP_MyParkersPg_AddFriends_Parker_AndClickCancel_ChangesNotSaved"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0015_CP_HomePg_Verify_Click_SearchYourParking_DateNotSelected_UserIn_Homepage"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0019_CP_identifications_Verify_DeleteIdentification_Success_NFC"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0009_CP_identifications_Verify_EditIdentification_Success_MifareCard"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0020_CP_ProductsPg_Verify_AddProds_GridView_Verify_Count_InCartToolTip_Res"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0002_CP_identifications_Verify_LabelAndHeader"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0018_CP_HomePg_Verify_DaysOfWeek_MonthYearDisplayed_InCalendars_Sub"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0011_CP_ShoppingCartPg_Verify_NavigateToCheckoutPg_WhenClickedOnCheckoutButton"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0004_CP_ProductsPg_Verify_HeaderIcons_ForSubscription"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0005_CP_CheckOutPg_Verify_EnterEmail_SkidataKeycard_AndClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0045_CP_CheckOutPg_Verify_UserNavigateToCartPage_ClickOnBackToCart"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0027_CP_HomePg_SelectAddress_SelectStartEndDate_ClickSearchYourParking_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0021_CP_HomePg_Verify_SearchLocationBar_ErrorMessageForInvalidLocation"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0033_CP_HomePg_Verify_Warning_Message_OnClick_SearchButton_without_Location_FromTodates_Subs"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0014_CP_ShoppingCartPg_Verify_AllProducts_Added_And_TotalMatchesWithCartPopUp"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0007_CP_AddressPage_Add_PrivatePerson_Full_Address"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0005_CP_AddressPage_Verify_Available_Address_Fields_In_Comapny"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0046_CP_CheckOutPg_Verify_TermsAndConditionsText_BeforePayButton"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0010_CP_identifications_Verify_EditIdentification_Success_DeisterTag"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0035_CP_HomePg_Verify_Warning_Message_OnClick_SearchButton_without_Location_Resv"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0003_CP_SignUpPg_Verify_Email_Error_Message_By_entering_differentValues_Other_Then_Email"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0006_CP_MyParkersPg_Verify_AddFamily_Parker_AndFilterByOnlyFamily"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0002_CP_ResetPasswordPg_Verify_the_Header_Of_Page"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0011_CP_Verify_Unsucessful_Error_Message_For_Existing_Sign_Up"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0006_CP_identifications_Verify_AddIdentification_Success_SkidataKeycard"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0034_CP_CheckOutPg_Verify_EnterEmail_CompanyCompleteDetails_Id_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0039_CP_CheckOutPg_Verify_PrivatePersonCompleteDetails_Saved_InProfile_AddedDuringCheckout_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0011_CP_HomePg_Verify_DaysOfWeek_MonthYearDisp_InCal_ResAndSub"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0013_CP_ProductsPg_Verify_ProdsDisp_DefaultListView_SpecificLocation_Res"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0006_CP_ResetPasswordPg_Verify_Controll_Navigates_To_Login_Pg_after_seelcting_Send_Reset_Link_If_ValidEmail_Is_Given"/>
      <class name="com.skidata.ssp.portal.loginandsecurity.TC_0002_CP_LoginAndSecurity_Verify_LabelsAndFields"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0028_CP_HomePg_EnterAddress_StartDate_ClickSearchYourParking_Sub"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0009_CP_ConfirmationPg_Verify_ParkerVehicleDetails_GuestUser_Res"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0005_CP_LoginPg_Verify_Login_ClickOnProfile_AndCheckProfilePageDisplayed"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0008_CP_identifications_Verify_AddIdentification_Success_LicensePlate"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0001_CP_ShoppingCartPg_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.addresses.TC_0003_CP_AddressPage_Verify_On_Seelcting_Addbillingaddress_Address_Form_Appears_And_Private_Is_Default"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0008_CP_ShoppingCartPg_Verify_AllProducts_Added_And_DeletedSuccessfully"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0024_CP_CheckOutPg_Verify_EnterEmail_LicensePlate_VerifyErrorMessage_InvalidId"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0026_CP_CheckOutPg_Verify_Skidata_ClickSubscribe_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0001_CP_ResetPasswordPg_Verify_Controll_navigates_To_ResetPassword_Page_From_LoginPage"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0024_CP_ProductsPg_Verify_SortByOptionValues_Res"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0007_CP_identifications_Verify_AddIdentification_Success_NFC"/>
      <class name="com.skidata.ssp.portal.loginpage.TC_0006_CP_LoginPg_Verify_InEmptyShoppingCart_Login_AndVerifyProfilePage"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0030_CP_CheckOutPg_Verify_LicensePlate_ClickSubscribe_BookingPass_Subscription"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0012_CP_ConfirmationPg_Verify_BookingID_Status_Backoffice_Subscription"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0009_CP_ShoppingCartPg_Verify_DeleteConfirmationMsg_Cancel_AndDeleteProd"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0020_CP_CheckOutPg_Verify_BookingSummary_Details_ProductAdded"/>
      <class name="com.skidata.ssp.portal.confirmationpage.TC_0013_CP_ConfirmationPg_Verify_BookingID_Status_Backoffice_SubscriptionPPU"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0006_CP_ProductsPg_Verify_HourlyMonthly_IconLabels_Displayed_Sub"/>
      <class name="com.skidata.ssp.portal.ResetPassword.TC_0004_CP_ResetPasswordPg_Verify_Email_PlaceHolder_Inthe_Page"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0020_CP_identifications_Verify_DeleteIdentification_Success_LicensePlate"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0011_CP_identifications_Verify_EditIdentification_Success_Skidata"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0044_CP_CheckOutPg_Verify_Message_ForAccessMediaType_GrafosPinpad"/>
      <class name="com.skidata.ssp.portal.productslistpage.TC_0001_CP_ProductsPg_Verify_PageTitle"/>
      <class name="com.skidata.ssp.portal.checkoutpage.TC_0010_CP_CheckOutPg_Verify_EnterEmail_MultipleSkidataKeycard_ClickPay_BookingPass_Res"/>
      <class name="com.skidata.ssp.portal.homepage.TC_0031_CP_HomePg_Verify_Warning_Message_OnClick_SearchButton_without_Location_FromTodates_Resv"/>
      <class name="com.skidata.ssp.portal.shoppingcartpage.TC_0003_CP_ShoppingCartPg_Verify_HeaderIcons_Home_Cart_Login_Res"/>
      <class name="com.skidata.ssp.portal.myparkers.TC_0008_CP_MyParkersPg_Verify_AddFriend_Parker_AndFilterByFamilyAndFriends"/>
      <class name="com.skidata.ssp.portal.signuppage.TC_0002_CP_SignUpPg_Verify_Email_Password_and_ConfirmPassword_Textfields_are_Avaialble"/>
      <class name="com.skidata.ssp.portal.identifications.TC_0001_CP_identifications_Verify_PageTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
